body {
    font-family: "Funnel Display", sans-serif;
    background-color:#ffd0ab;
    color: #f36747;
}

header {
    text-align: center;
    color:#e0340e;
}


/* Uso de CSS Grid para el layout principal de secciones */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 32px;
    gap: 100px;
    color:#f27f65;
    text-align: justify;
}


/* Diseño responsivo: cambio a una sola columna en pantallas pequeñas */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 16px;
    }
}

h2 {
    color:#c12e0e
}


/* Uso de Flexbox para centrar y distribuir el menú de navegación */
nav {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 16px;
    font-style: italic;
}

img{
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    padding: 16px;
    color: #cd3e30;
    margin-top: 32px;
    background-color: #ffc199
}

.centrar_titulo{
  text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 24px auto;
    border-radius: 8px;
}